@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

.body {
    background: url(img/frost.jpg) no-repeat;
    background-size: 100%;
}

.container {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
 }
.promotion__timer {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
     }
    

.title {
    font-size: 36px;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(252, 248, 246, 0.25);
    margin-left: 100px;
    margin-top: 50px;
    
}


.promotion__timer {
    width: 35%;

}

.promotion__timer .title {
    text-align: center
}

.promotion__timer .timer {
    margin-top: 60px;
    padding-left: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center
    
}

.promotion__timer .timer__block {
    width: 102px;
    height: 120px;
    background: #fff;
    box-shadow: 0 100px 200px rgba(216, 65, 5, 0.25);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    border: solid gray
}

.promotion__timer .timer__block span {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 56px;
    font-weight: 700
}
/*responsive*/
/*1200px-1400px*/
@media screen and (max-width:1400px) {

}
/*992px-1200px*/
@media screen and (max-width:1200px) {
	.container {
	width: 960px;
	}
}
/*768px-992px*/
@media screen and (max-width:992px) {
	.container {
	width: 720px;
    }
    .title {
    margin-left: auto;
    margin-top: 30px;
    }
    .promotion__timer .timer  {
        margin-top: 15px;
        padding-left: 15px;
    }

	
/*576px-768px*/
@media screen and (max-width:768px) {
    .promotion__timer {
        width: 50%;
    }
    .title {
	width: 300px;
    margin-left:  0px;
	}
}
/*0px-576px*/
	@media screen and (max-width:576px) {
	.container {
	width: 50%;
    }
    .promotion__timer {
    width: 90%;
    padding-left: 15px;
    
    }
    .body {
        background: url(img/frost.jpg) no-repeat;
        background-size: 300%;
    }
    .timer__block {
        font-size: 14px;
        width: 90px;
    }
	}
}